h1 {
    color: rgb(220, 219, 230);
    text-align: center;
  }
 
  .centerowanie {
    text-align: center;
    color: rgb(220, 219, 230);
  }

  
  
  .top-hero {
   background: rgba(245, 251, 62, 0.08);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(2.6px);
   -webkit-backdrop-filter: blur(2.6px);
   border: 1px solid rgba(245, 251, 62, 1);
  }


  header {
   background-image: url("20170729_183426.jpg");
   background-size:  cover;
   background-position: center;
  }

  header img {
    border: 1px solid rgb(211, 202, 202);
    width: 80%;
    

  }

  header img:hover {
     border: 10px dashed silver;
     transition: 2s;
  }

  header i {
    color: azure;
  }

  header a {
    color: rgb(241, 238, 235);
    display: inline-table;
  }

  section span {
    display: inline-block;
    color: deepskyblue;
    border: 1px solid deepskyblue;
    padding: 5px 8px;
    margin: 2px;
    border-radius: 8px;
    font-size: 0.8rem;
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    width: wrap;
    background-color: blue var(--bs-progress-bar-bg);
    transition: none;
    ;
  }
  

 